#beer-form-input {
    width: 40%;
    display: inline-flex;
}

@media (max-width: 790px)  {
    #beer-form-input {
        width: 80%;
    }
}

@media (max-width: 580px)  {
    #beer-form-input {
        width: 100%;
        margin: 20px 0px;
        padding: 18px 10px;
    }
  }