
.image-container{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 50px 0px;
}

.image-container div {
        width: 200px;
        margin: 10px;
        text-align: center;
      }



    .beer-img {
        width: auto;
        height: 200px;
    }


    #beer-title{
    font-size: 18px;
    margin-top: 5px;
    color: #e7b835;
}



@media (max-width: 580px)  {

    .image-container div{
        width: 100%;
    }

  }