.main-container {
  font-family: Lato, sans-serif;
  font-size: 1.5em;
  height: 100vh;
  line-height: 20px;
  font-size: 1.3rem;
  text-align: center;
  margin: 5% 20%;
}

.app-title{
  line-height: normal;
}

@media (max-width: 790px)  {
  .main-container  {
    font-size: 1.2em;
  }
}

@media (max-width: 580px)  {
  .main-container  {
    height: auto;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
