.main-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #5e5e5e;
  font-family: Arial, Helvetica, sans-serif;
}

