.inline-container {
    flex-flow: wrap;
    align-content: center;
    align-items: stretch;
    justify-content: space-around;
}

h1{
    color: #e7b835;
  }

input {
    width: 40%;
    margin: 10px;
    padding: 18px 10px;
    border-radius: 4px;
    border: 1px solid #4e5766;
    box-shadow: 1px 0.5px #888888;
    font-size: 18px;
}

.input-container {
    width: 100%;
}

.search-label {
	position: relative;
}

.search-icon {
	position: absolute;
	top: 3px;
	font-size: 24px;
	color: #555;
	right: 18px;
}

    button {
        padding: 12px 10px;
        width: 15%;
        border-radius: 4px;
        background-color: #e7b835;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
    }

    button:hover {
        background-color: #e7bf50;
    }

/* Results */
.results-container {
	display: flex;
	flex-flow: wrap;
}

.result-items {
	position: relative;
	padding: 16px;
	border: 1px solid #898989;
	margin: 16px;
	text-align: center;
	min-width: 200px;
	text-decoration: none;
	box-shadow: 2px 2px 2px #898989;
}

.image {
	width: 100%;
	height: auto;
}

.image-wrapper {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	justify-content: center;
}

/*Loader*/
.search-loading {
    margin-top: 600px;
	left: 0;
	right: 0;
}

/*Show and hide*/
.show {
	display: inline-block;
}.hide {
	display: none;
}


@media (max-width: 790px)  {
    
    button {
        width: 40%;
    }

    input {
        width: 80%;
    }

    .inline-container {
        justify-content: space-evenly;
    }
}

@media (max-width: 580px)  {
    input {
        width: 100%;
        margin: 20px 0px;
        padding: 18px 10px;
    }

    button {
        width: 100%;
    }
  }