.inline-container {
    flex-flow: wrap;
    align-content: center;
    align-items: stretch;
    justify-content: space-around;
}

h1{
    color: #e7b835;
  }

input {
    width: 40%;
    margin: 10px;
    padding: 18px 10px;
    border-radius: 4px;
    border: 1px solid #4e5766;
    box-shadow: 1px 0.5px #888888;
    font-size: 18px;
}

.search-label {
	position: relative;
}

.search-icon {
	position: absolute;
	top: 3px;
	font-size: 24px;
	color: #555;
	right: 18px;
}

    button {
        padding: 12px 10px;
        width: 15%;
        border-radius: 4px;
        background-color: #e7b835;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
    }

    button:hover {
        background-color: #e7bf50;
    }


    .image{
        width: auto;
        height: 10%;
    }

/*Loader*/
.search-loading {
    position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

/*Show and hide*/
.show {
	display: inline-block;
}.hide {
	display: none;
}


@media (max-width: 790px)  {
    
    button {
        width: 40%;
    }

    input {
        width: 80%;
    }

    .inline-container {
        justify-content: space-evenly;
    }
}

@media (max-width: 580px)  {
    input {
        width: 100%;
        margin: 20px 0px;
        padding: 18px 10px;
    }

    button {
        width: 100%;
    }
  }