.inline-container {
    display: flex;
    flex-flow: wrap;
    align-content: center;
    align-items: stretch;
    justify-content: space-around;
}

input {
    width: 40%;
    margin: 10px;
    padding: 18px 10px;
    border-radius: 4px;
    border: 1px solid #4e5766;
    box-shadow: 1px 0.5px #888888;
    font-size: 18px;
}

.input-container{
    width: 100%;
}

    button {
        padding: 12px 10px;
        width: 15%;
        border-radius: 4px;
        background-color: #e7b835;
        color: #222222;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
    }


@media (max-width: 790px)  {
    
    button {
        width: 40%;
    }

    input {
        width: 80%;
    }

    .inline-container {
        justify-content: space-evenly;
    }
}

@media (max-width: 580px)  {
    input {
        width: 100%;
        margin: 20px 0px;
        padding: 18px 10px;
    }

    button {
        width: 100%;
    }
  }