#beer-form-input {
    width: 40%;
    margin: 10px;
    padding: 18px 10px;
    border-radius: 4px;
    border: 1px solid #4e5766;
    box-shadow: 1px 0.5px #888888;
}

@media (max-width: 790px)  {
    #beer-form-input {
        width: 80%;
    }
}

@media (max-width: 580px)  {
    #beer-form-input {
        width: 100%;
        margin: 20px 0px;
        padding: 18px 10px;
    }
  }